.makingChanges {
    opacity: 0.5;
}

.updateProfile {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .updatePhoto {
      margin-right: 100px;

  }

  .textField {
      padding: .5em;
      margin: .5em;
  }