.makingChanges {
    opacity: 0.5;
}

.ProfileImg {
    height: 17em;
    width: 17em;
    border-radius: 25%;
    padding: 0em 3em 1em;
}

.updatePhoto {
    margin: auto;
}

.updateProfile {
    max-width: 80%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .textField {
      padding: .5em;
      margin: .5em;
  }