.AvatarImg {
    height: 17em;
    width: 17em;
    border-radius: 25%;
    padding: 0em 3em 1em;
}

.boxhead a {
    text-decoration: none;
}

.newsFeed {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
}

.messages {
    display: flex;
}

.userList {
    display: flex;
    flex-direction: column;
    
    
}

.user {
    list-style: none;
    text-decoration: none;
    padding: 22px;

    /* background-color: blue; */
    background-color: yellow;
}  